body{
    background-color: #cccccc;
}
.accountSection{
   border-bottom: solid;
   border-width: 5px;
   border-bottom-color: #999999
}
.topPics{
   border-bottom: solid;
   border-width: 5px;
   border-bottom-color: #999999; 
}
.post{
    background: white;
}
